*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 1.3;
}
html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    width: 100%;
    z-index: 2000;
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}
.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
}
.navbar-links ul{
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}
.navbar-links li a:hover{
    background-color: #555;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media(max-width: 600px){
    
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
        transition: 1s ease;
    }

}




/* HOME PAGE HERO BANNER*/
.banner{
    height: 100vh;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #142929 0%, #380036 74%);
}
img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 400px;
    border-radius: 50%;
    margin: auto;
    padding-top: 8rem;
}
.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.hello{
    font-size: 2rem;
    color: #fff;
}
.hello span{
    color: rgb(255, 255, 0);
}
.devs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: yellowgreen;
}

@media(max-width: 600px){
    
    .img{
        display: none;
    }
    .hello{
        padding-top: 300px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        margin-top: 0;
    }
}

@media(max-width: 800px){
    
    .hello h1{
        padding-top: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0;
    }
}


/*ABOUT ME*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.about-me img{
    width: 500px;
    margin: 5rem;
}
.my-intro{
    border-radius: 3%;
    box-shadow: .5rem .5rem 2rem;
    margin-right: 3rem;
}
.my-intro h1{
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
}
.my-intro p{
    width: 100%;
    padding-bottom: 4rem;
    
    margin: 0 auto;
}
@media(max-width: 900px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .my-intro h1{
        font-size: 2rem;
        padding-bottom: 2rem;
        font-weight: bold;
    }
    .my-intro{
        box-shadow: .5rem .5rem 2rem;
        margin: 0 auto;
        width: 100%;
        /* margin-top: 0; */
    }
    .about-me img{
        width: 100%;
        margin: auto;
        object-fit: contain;
    }
}


/* SKILLS SECTION*/

.skills{
    height: 30vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.skills-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.skills .features{
    padding: 1rem;
}
.features img{
    width: 100%;
}
.features .html{
    width: 150px;

}
.features .css{
    width: 150px;
}
.features .js{
    width: 150px;
}

/* MEDIA QUERY FOR SKILLS */

@media(max-width: 900px){
    .skills{
        display: block;
        margin: 2rem
    }
    .skills .container{
        margin: 2rem;
    }
    .skills-section{
        color: black;
        font-size: 2rem;
        z-index: 5;
        margin-top: 5rem;
    }
    .features{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .features .html{
        width: 100px;
    
    }
    .features .css{
        width: 100px;
    }
    .features .js{
        width: 100px;
    }
}





/* PROJECTS SECTION */

#projects{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.proj{
    padding: 2rem;
    font-size: 3rem;
    font-weight: bold;
}
@media(max-width: 900px) {
    #projects{
        margin: 10rem;
    }
    .proj{
        font-size: 2em;
    }
    .my-projects{
        width: 100%;
    }
    .my-projects img{
        width: 200px;
    }
}






/* Footer Section */

.footer{
    height: 30vh;
    background-color: #2e2e2e;
    margin-top: 2rem;
}
.conts{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
}
.contact-me{
    display: inline-block;
    padding: 1rem;
}
.contact-me a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.gmail{
    color: white;
}

@media(max-width: 900px){
    .footer{
        height: 30vh;
        display: block;
        text-align: center;
        overflow: hidden;
    }
    .contact-me{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .gmail{
        color: white;
    }
}
